body, nav {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(69, 68, 68);
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.4s ease, color 0.4s ease;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 4px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: black;
    border-bottom: 2px solid yellowgreen;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
}

.back-to-top {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    padding: 10px;
    border: 2px solid yellowgreen;
    border-radius: 4px;
    transition: background-color 0.4s ease, color 0.4s ease;
    box-shadow: 0 2px 8px;
}

.back-to-top:hover {
    background-color: black;
    color: white;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px;   
}

#copyright {
    font-size: 0.8rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20%;
}

.first-half, .second-half {
    flex: 1;
    max-width: 50%;
}

.first-half img.banner {
    width: 100%;
    height: auto;
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
    }
    .first-half, .second-half {
        max-width: 50%;
    }
}